{% extends 'base.html' %}

{% block content %}
    <h1>User Login</h1>
    <form method="post" action="login">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <label for="role">Role:</label>
        <select name="role" id="role">
            <option value="a">Student</option>
            <option value="b">Staff</option>
            <option value="c">Admin</option>
            <option value="d">Editor</option>
        </select>

        <button type="submit">Login</button>
    </form>
{% endblock %}
