{% extends 'base.html' %}

{% block content %}
<H2 class="text-white p-3">The New School</H2>
<strong class="ml-2">Introducing new teaching strategies and methods</strong>
<blockquote class="p-3">Schools are a place where we get to make friends, learn new things and grow every day. In fact, it is so hard to imagine a world without schools. They are the first place where we learn about life and many other things.</blockquote>

<button class="btn btn-primary m-3">Contact Us</button>
<button class="btn btn-success m-3">Login</button>
{% endblock %}